
@{
    ViewBag.Title = "Disciplines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container grid-page">
    <div class="row">
        <div class="col-sm-24">
            <div class="zed-page-actions">
                <a href="discipline-addedit" class="btn btn-primary">+ Add Discipline</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="zed-page-table">
                <table class="table table-hover zed-data-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Discipline Code</th>
                            <th>Discipline Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label class="zed-checkbox"><input type="checkbox"><span></span></label></td>
                            <td>Discipline Code <?= $i ?></td>
                            <td>Discipline Name <?= $i ?></td>
                            <td class="zed-table-settings-td">
                                <div class="zed-table-settings">
                                    <ul class="list-inline">
                                        <li><a href="discipline-addedit" class="btn btn-default">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="zed-checkbox"><input type="checkbox"><span></span></label></td>
                            <td>Discipline Code <?= $i ?></td>
                            <td>Discipline Name <?= $i ?></td>
                            <td class="zed-table-settings-td">
                                <div class="zed-table-settings">
                                    <ul class="list-inline">
                                        <li><a href="discipline-addedit" class="btn btn-default">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="zed-checkbox"><input type="checkbox"><span></span></label></td>
                            <td>Discipline Code <?= $i ?></td>
                            <td>Discipline Name <?= $i ?></td>
                            <td class="zed-table-settings-td">
                                <div class="zed-table-settings">
                                    <ul class="list-inline">
                                        <li><a href="discipline-addedit" class="btn btn-default">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="zed-checkbox"><input type="checkbox"><span></span></label></td>
                            <td>Discipline Code <?= $i ?></td>
                            <td>Discipline Name <?= $i ?></td>
                            <td class="zed-table-settings-td">
                                <div class="zed-table-settings">
                                    <ul class="list-inline">
                                        <li><a href="discipline-addedit" class="btn btn-default">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="zed-checkbox"><input type="checkbox"><span></span></label></td>
                            <td>Discipline Code <?= $i ?></td>
                            <td>Discipline Name <?= $i ?></td>
                            <td class="zed-table-settings-td">
                                <div class="zed-table-settings">
                                    <ul class="list-inline">
                                        <li><a href="discipline-addedit" class="btn btn-default">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="zed-checkbox"><input type="checkbox"><span></span></label></td>
                            <td>Discipline Code <?= $i ?></td>
                            <td>Discipline Name <?= $i ?></td>
                            <td class="zed-table-settings-td">
                                <div class="zed-table-settings">
                                    <ul class="list-inline">
                                        <li><a href="discipline-addedit" class="btn btn-default">Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>