
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZED Admin</title>
    <link href="~/img/zed-fav.png" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">

    @*<link href="~/css/zed-login.css" rel="stylesheet">*@
    
    <link href="~/css/zed-icons.css" rel="stylesheet">
    <link href="~/css/rtd-asky.css" rel="stylesheet">
    <link href="~/css/zed-admin.css" rel="stylesheet">
    <link href="~/Plugins/select2/select2.css" rel="stylesheet">

    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- The Rockstar jQuery -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div id="top" class="zed-top">
        <div class="row">
            <div class="col-sm-12">
                <div class="zed-breadcrumb">
                    <ul class="breadcrumb">
                        <li><a href="javascript:void(0);">Home</a></li>
                        <li><a href="javascript:void(0);">Something</a></li>
                        <li class="active">This Page</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 pr0">
                <div class="dropdown pull-right">
                    <a href="javascript:void(0);" data-toggle="dropdown">Santosh</a>
                    <ul class="dropdown-menu">
                        <li><a href="profile">Profile</a></li>
                        <li><a href="login">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="left" class="zed-left">
        <ul class="list-unstyled">
            <li class="zedl-first"><a href="home" class="zed-logo"><img src="~/img/zed-logo.png" alt="ZED Logo" class="img-responsive"></a></li>
        </ul>
        <div class="zed-left-scroll">
            <ul class="list-unstyled">
                <li><a href="/"><i class="zi-bar-graph-2"></i><span>Dashboard</span></a></li>
                <li><a href="../sectors"><i class="zi-location-2"></i><span>Sectors</span></a></li>
                <li><a href="../makeinindia"><i class="zi-globe"></i><span>Make in India</span></a></li>
                <li><a href="../disciplines"><i class="zi-grid"></i><span>Disciplines</span></a></li>
                <li><a href="../parameters"><i class="zi-share"></i><span>Parameters</span></a></li>
                <li><a href="../categories"><i class="zi-folder"></i><span>Categories</span></a></li>
                <li><a href="../evidences"><i class="zi-file"></i><span>Evidences</span></a></li>
                <li><a href="../questions"><i class="zi-paper"></i><span>Questions</span></a></li>
                <li><a href="../users"><i class="zi-head"></i><span>Users</span></a></li>
                <li><a href="payments"><i class="zi-tag"></i><span>Payments</span></a></li>
            </ul>
        </div>
    </div>
    <div id="content" class="zed-content">
       @RenderBody()
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Plugins/datatables-1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="~/Plugins/datatables-1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Plugins/select2/select2.full.min.js"></script>
    <script src="~/Scripts/rtd-toasty.js"></script>
    <script src="~/Scripts/rtd-asky.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/zed-app.js"></script>
</body>
</html>